 
 
 .ismi {
  display: flex;
  gap: 24px;
  // align-content: center;
  align-items: center;

  // border: 1px solid red;
 }

 .is-rasim {
  width: 150px;
height: 150px;
background: #CCCCCC;
border-radius: 100%;
 }

 .isss1 {
  font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 48px;
color: #1C3554;
 }

 .isss2 {
  margin-top: 8px;
  font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #808080;
 }

 .www-tepa {
  margin-top: 64px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 60px;
 }

 .tepa-menyu {
  font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 48px;
color: #808080;
padding-bottom: 8px;

 }
 
 .tepa-menyu2 {
  font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 48px;
color: #808080;
padding-bottom: 8px;

 }
 
 .tepa-menyu3 {
  font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 48px;
color: #808080;
padding-bottom: 8px;

 }

 .tepa-menyu2:hover{
  width: 115px;
  border-bottom: 4px solid #F72585;
  transition: 0.3s;color: #1C3554;

 }

 
 .tepa-menyu3:hover{
  width:215px;
  border-bottom: 4px solid #F72585;
  transition: 0.3s;color: #1C3554;
 }
 
 .tepa-menyu:hover{
  width: 170px;
  border-bottom: 4px solid #F72585;
  transition: 0.3s;color: #1C3554;
 }

 .cardlar {
  margin-bottom: 160px;
 }

 .dwkog {
  display: flex;
  gap: 10px;
 }

 .dwkog .home {
  text-decoration: none;
  font-size: 16px;
  color:#929191 ;
 }

 

 